---
title: About Us
description: >-
	We strive to ensure academics are not a limiting factor for athletes who are perusing university. Many student athletes suffer from poor academics due to hectic sports 
	scheduling. We understand the importance of maintaining a disciplined schedule in order to achieve goals. By treating studying and school work like practicing and game day, 
	athletes are more likely to succeed academically and enjoy it to! We are confident that you can maintain a busy athletic schedule while also succeeding in school.

	All of our team members have considerable experience working with kids in sports. Individual expertise incudes university athletics, tutoring, mentoring, or a combination 
	of all three. We consider each unique situation before pairing students with the proper team member.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
