---
title: About Me
description: I strive to ensure academics are not a limiting factor for athletes who are pursuing university. Many student athletes suffer from poor academics due to hectic sports scheduling. By treating studying and school work like practicing and game day, athletes are more likely to succeed academically and enjoy it too!  
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Education</h2>
				<p>I graduated from Trent University on the President's List with an Honors Degree in Computer Science and Biology, and a specialization in Health Science.</p>
			</div>
			<div class="image">
				<img src="../images/kenny-eliason-y_6rqStQBYQ-unsplash.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Tutoring</h2>
				<p>I have Several years of experience tutoring high school students in Math, Chemistry, Statistics, Biology, Computer Science, Computer Programing, and more.</p>
			</div>
			<div class="image">
				<img src="../images/may-gauthier-9cf5KF8FzIE-unsplash.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Mentoring</h2>
				<p>My personal experience spending countless hours trying to figure out how to prepare for graduate school applications led to my interest in helping students avoid a similar fate.</p>
			</div>
			<div class="image">
				<img src="../images/linkedin-sales-solutions-W3Jl3jREpDY-unsplash.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable">Begin your journey to university athletics today!</h2>
		<div class="button alt"><a href="{{ site.baseurl }}/contact/">Get Started</a></div>
	</section>
</div>


