---
title: Pricing
heading: Tiered pricing depending on the needs of the individual.
description: All options include 1-on-1 work with one of our team members. The specific content of each session depends on what the paired team member identifies as important to the student.
pricing_table:
  - name: Per 30 minute Session
    color: "#8e8e8e"
    features:
      - text: $25
        highlight: true
      - text: Personalized Lessons
        highlight: false
      - text: Flexible Scheduling
        highlight: false
      - text: On Site or Virtual
        highlight: false
      - text: Perfect for mentoring/advising sessions
        highlight: false
  - name: Per 60 minute Session
    color: "#4a4a4a"
    features:
      - text: $40
        highlight: true
      - text: Personalized Lessons
        highlight: false
      - text: Flexible Scheduling
        highlight: false
      - text: On Site or Virtual
        highlight: false
      - text: Perfect for tutoring sessions
        highlight: false
  - name: Monthly
    color: "#000000"
    features:
      - text: $150 per month
        highlight: true
      - text: 4 sessions a month
        highlight: false
      - text: 60 minute sessions
        highlight: false
      - text: Fits into your weekly schedule
        highlight: false
      - text: Flexible session content
        highlight: false
      - text: Perfect for maintaining consistency
        highlight: false
faq:
  - question: What types of payment do you accept?
    answer: All payments are either email money transfer or cash per lesson.
  - question: Can I cancel the monthly option?
    answer: Yes, you can cancel at any time. Any remaining sessions will be refunded.
  - question: Do you offer pricing for low-income families?
    answer: Yes, a small portion of our Schedule is set aside for volunteer-based services. We believe money should not come between a student and academic success.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">AthleticAcademicsInfo@gmail.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
